.header::after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(18, 18, 18, 0.88) 1.03%, rgba(18, 18, 18, 0.92) 50.18%, rgba(1, 1, 1, 0.00) 95.15%);
}

.section-ul li span p {
    font-size: 20px;
    font-family: DINPro-Medium;
    color: #000;
    margin: 0;
    padding: 0;
}